name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Build ${{ matrix.platform }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
            ext: ""
          - os: windows-latest
            platform: windows
            ext: ".exe"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up UV
        uses: astral-sh/setup-uv@v7

      - name: Setup environment
        run: |
          uv venv
          uv pip install -r requirements.txt
          uv pip install nuitka

      - name: Install dependencies (Linux)
        if: matrix.platform == 'linux'
        run: |
          sudo apt update
          sudo apt install -y ccache patchelf

      - name: Install dependencies (Windows)
        if: matrix.platform == 'windows'
        run: |
          choco install upx -y
          upx --version

      - name: Build (Linux)
        if: matrix.platform == 'linux'
        run: |
          source .venv/bin/activate
          python -m nuitka --onefile --standalone --assume-yes-for-downloads --lto=yes --jobs=$(nproc) --enable-plugin=upx --output-filename=ULearningCWAuto-linux-${{ github.ref_name }} main.py

      - name: Build (Windows)
        if: matrix.platform == 'windows'
        shell: pwsh
        run: |
          .venv\Scripts\Activate.ps1
          python -m nuitka --standalone --onefile --assume-yes-for-downloads --lto=yes --jobs=3 --enable-plugin=upx --onefile-no-compression --output-filename=ULearningCWAuto-windows-${{ github.ref_name }}.exe main.py

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ULearningCWAuto-${{ matrix.platform }}
          path: ULearningCWAuto-${{ matrix.platform }}-${{ github.ref_name }}${{ matrix.ext }}
          retention-days: 1

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: ./artifacts

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          draft: true
          prerelease: false
          generate_release_notes: true
          files: |
            ./artifacts/ULearningCWAuto-linux/*
            ./artifacts/ULearningCWAuto-windows/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
